<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_description }}">
    
    <!-- <title>{{ title ensure_right=" / " }}{{ site_name }}</title> -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{ if !segment_1 }}
<link rel="stylesheet" type="text/css" href="/site/themes/redwood/css/slick.css"/>
<link rel="stylesheet" type="text/css" href="/site/themes/redwood/css/slick-theme.css"/>
{{ /if }}
{{ if segment_1 == "contact" || segment_1 == "services" }}
{{ recaptcha:head }}
{{ /if }}



				

    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ theme:css }}">
    {{ partial:favicon }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QY9243YYDS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LR9BQ8K4CK');
</script>
</head>

<body class="section-{{ segment_1 or "home" }}">

    {{ partial:nav }}
<main>
  <!-- <div class="container-fluid"> -->
    
  
    {{ template_content }}
    <!-- </div> -->
</main>
<button onclick="topFunction()" id="myBtn" title="Go to top">
  <i class="fa fa-arrow-up" aria-hidden="true"></i><br/>
  TOP</button>
   <footer class="container-fluid py-5 bg-light">
   	<div class="container-lg pt-lg-5">
  <div class="row">
    <div class="col-12 col-lg-3 text-start myers-info">
      <a href="/" class="svg" title="Go to Myers homepage"><object data="/assets/img/myers-full-color.svg" width="250" aria-label="Myers and Co. logo"> </object></a>
      <p class="mt-4 mb-0"><strong>Myers &amp; Co.</strong></p>
      <p><a href="https://www.tri-statemachine.com/" title="Go to Tri-State website" target="_blank"><small>A Tri-State Machine Company</small></a></p>
      <p><i class="fa fa-phone-square me-1" aria-hidden="true"></i> Speak to our sales team<br/>
        <a href="tel:{{ phone }}">{{ phone }}</a><br/>
      <a href="tel:{{ local_phone }}">{{ local_phone }}</a><br/></p>
    <p>
      <a href="mailto:{{email}}" target="_self" class="mt-2"><i class="fa fa-envelope me-1" aria-hidden="true"></i> Send us a message</a> </p>
    </div>
    <div class="col-12 col-lg-6 ps-lg-5 mt-md-5">
      <p class="h5 mt-4 mb-3 mt-md-0">Products</p>
      <div class="row">
      <div class="col-12 col-md-6">
      <ul class="list-unstyled text-small">
                      <li><a href="/products/fittings" class="link-secondary">Fittings</a></li>
                      <li><a href="/products/valves" class="link-secondary">Valves</a></li>
                      <li>
                        <a href="/products/temperature-pressure-instrumentation" class="link-secondary">
                          Temperature and Pressure Instrumentation
                        </a>
                      </li>
                      <li><a href="/products/calibration-equipment" class="link-secondary">Calibration Equipment</a></li>
                      <li><a href="/products/filters" class="link-secondary">Filters</a></li>
                      <li><a href="/products/quick-connects" class="link-secondary">Quick Connects</a></li>
                      <li><a href="/products/tubing" class="link-secondary">Stainless Steel Tubing</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-6 ">
      <ul class="list-unstyled text-small">
        
                    <li>
                      <a href="/products/hoses-flexible-tubing" class="link-secondary">
                        Hose &amp; Flexible Tubing Products
                      </a>
                    </li>
                    <li><a href="/products/flow-instrumentation" class="link-secondary">Flow Instrumentation</a></li>
                    <li><a href="/products/regulators" class="link-secondary">Regulators</a></li>
                    <li>
                      <a href="/products/cylinders" class="link-secondary">
                       Cylinders
                      </a>
                    </li>
                    <li>
                      <a href="/products/trays-supports-stands-clamps" class="link-secondary">
                        Cable Tray & Supports, Instrument Stands, and Clamps
                      </a>
                    </li>
                    <li>
                      <a href="/products/tools-and-accessories" class="link-secondary">
                        Tools and Accessories
                      </a>
                    </li>
      </ul>
    </div></div></div>
    <div class="col-6 col-lg-3 mt-md-5">
      <p class="h5 mt-4 mb-3 mt-md-0">Industries Served</p>
      <ul class="list-unstyled text-small">
        <li>Chemical</li>
        <li>Steel</li>
        <li>Natural Gas</li>
        <li>Hydraulic</li>
        <li>Analytical</li>
      </ul>
    </div>
    <!-- <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Services</a></li>
        <li><a class="link-secondary" href="#">History</a></li>
        <li><a class="link-secondary" href="#">Team</a></li>
      </ul>
    </div> -->
  </div>
<div class="row border-top mt-5">
  <small class="credit d-block mt-5 text-muted mb-0">&copy; 2013-<script>document.write(new Date().getFullYear())</script> Myers &amp; Co. All rights reserved.</small>
  <small class="credit d-block text-muted my-2"> {{ footer_location_keyword_statement }}</small>
	<p class="credit mt-1 mb-5 text-muted">{{ trademark }} <a href="https://kellybarkhurst.com/" target="_blank" class="text-muted designer" title="Made with LOVE in WV">Web development by Barkhurst Creative</a>.</p>
  
	</div>  
</div>

</footer>

    <script src="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->
    <script src="{{ theme:js }}"></script>

</body>
</html>
