<div class="block">

	<div class="row">
		<div class="col-3">
			{{ if image }}{{ assets:image }}
			<a href="{{ url }}"> <img src="{{ url }}" class="img-fluid p-3" alt="{{ alt }}" height="{{ height }}" width="{{ width }}" /></a>
			{{ /assets:image }}{{ else }}
			<img src="https://via.placeholder.com/150" /> {{ /if }}
		</div>
		<div class="col-9">
			<a href="{{ url }}"><h3>{{ title }}</h3></a>
			<p>
				Brand: {{ relate:brand_manufacturer }} <a href="{{ url }}" class="text-uppercase font-weight-bold"> {{ title }}</a>
				{{ /relate:brand_manufacturer }}
			</p>
		</div>

	</div>
</div>
</a>
</div>