<article id="form" class="content bg-white shadow-md p-md-4 mt-4">
      {{ form:create in="contact" redirect="/{slug}#form" error_redirect="/{slug}#form" }} {{ if errors }}
      <div class="alert alert-danger">
        {{ errors }} {{ value }}
        <br />
        {{ /errors }}
      </div>
      {{ /if }} {{ if success }}
      <div class="alert alert-success">Your form was submitted successfully. We'll get back to you soon.</div>
      {{ /if }}

      <div class="form-group mb-4">
        <label>Name<sup>*</sup></label>
        <input type="text" name="name" value="{{ old:name }}" class="form-control" />
      </div>

      <div class="form-group my-4">
        <label>Email<sup>*</sup></label>
        <input type="text" name="email" value="{{ old:email }}" class="form-control" />
      </div>

      <div class="form-group my-4">
        <label>Phone Number</label>
        <input type="text" name="phone" value="{{ old:phone }}" class="form-control" />
      </div>

      <div class="form-group my-4">
        <label class="mb-2">Reason for Contacting Us</label>
        <br />
        <select name="reason" value="{{ old:reason }}">
          <option>Orders</option>
          <option>Sales</option>
          <option>Shipping</option>
          <option>Support</option>
        </select>
      </div>

      <div class="form-group my-4">
        <label>Message<sup>*</sup></label>
        <textarea name="message" class="form-control" rows="4">{{ old:message }}</textarea>
      </div>
      {{ recaptcha }}

      <button class="btn btn-blue mt-3">Submit</button>

      {{ /form:create }}
    </article>
 