<div id="{{slug}}" class="block shadow p-3 p-md-4 my-5 bg-white">
  {{ if image && overview }}
  <div class="row mb-2 mb-md-5">
    <div class="col-md-3 text-center">

      
      {{ assets:image }}
      <img src="{{ url }}" class="img-fluid p-3" height="{{ height }}" width="{{ width }}" alt="{{ alt }}" />
      {{ /assets:image }}
    </div>
    <div class="col-md-9">
      {{ else }}
      <div class="row">
        <div class="col-md-12 mb-4">
          {{ /if }}

          <h2 class="mb-1 text-drkblue">{{ title }}</h2>

          {{ if image && overview }}
          <p class="h5">{{ overview }}</p>
          {{ /if }} {{ if link || catalog }}
          <div class="row mt-4 border-md-top py-4">
            {{ /if }} {{ if link }}
            <div class="col-md-6">
              <small>
                <span class="mb-2"><strong>Additional product details</strong></span>
                <br />
                {{ relate:brand_manufacturer }}
                <a
                  href="{{ link }}"
                  class="text-uppercase pt-2 font-weight-bold"
                  target="_blank"
                  title="Go to {{ title }} website"
                >
                  <i class="fa fa-external-link fa-lg me-2" aria-hidden="true"></i>
                  {{ title }}
                </a>
                {{ /relate:brand_manufacturer }}
              </small>
            </div>
            {{ /if }} {{ if catalog }} {{ relate:catalog }}{{ catalog_pdf }}
            <div class="my-3 my-md-0 col-md-6">
              <a
                href="{{ value }}"
                class="w-100 btn py-3 btn-light d-flex align-items-center catalog-text"
                title="Open {{ title }}"
                target="_blank"
              >
                <i class="fa fa-book fa-2x fa-pull-left me-3" aria-hidden="true"></i>
                {{ title }}
              </a>
              {{ /catalog_pdf }}{{ /relate:catalog }}
            </div>
            {{ /if }} {{ if link || catalog }}
          </div>
          {{ /if }}
        </div>
      </div>

      {{ if sub-product }}
      <div class="row row-cols-md-3 row-cols-1 mb-3 border-md-top">
        {{ sub-product }}
        <div class="d-flex align-items-start flex-column p-md-3 border-top mb-md-3 mt-3 mt-md-0">
          {{ if image }}
          <div class="mx-auto mx-md-0 pt-2">
            {{ assets:image }}
            <div class="d-flex align-items-center">
              <img
                src="{{ url }}"
                style="max-height: 220px; margin: 0 auto"
                class="mb-3"
                alt="{{ alt }}"
                height="220"
                width="220"
              />
            </div>
            {{ /assets:image }}
          </div>
          {{ else }}
          <img src="https://via.placeholder.com/200" />
          {{ /if }}
          <h3 class="mb-0">{{ title }}</h3>
          {{ product_description }}

          <div class="mt-auto col-12">
            {{ if catalogs || link_to_product }} <div class="border-bottom mb-3 pb-1 w-100"><small>
              <span><strong>Additional product details</strong></span></small></div>
              {{ /if }}
             {{ if catalogs }}
            
              {{ relate:catalogs }}
            {{ catalog_pdf }}
              <a
                href="{{ value }}"
                class="w-100 btn py-3 mb-2 btn-light d-flex align-items-center catalog-text"
                title="Open {{ title }}"
                target="_blank"
              >
                <i class="fa fa-book fa-2x fa-pull-left me-3" aria-hidden="true"></i>
                {{ title }}
              </a>
              {{ /catalog_pdf }}{{ /relate:catalogs }}
            
            {{ /if }}
            {{ if link_to_product }}
            <div class="mt-3 mb-0">
              
                <small>
                {{ relate:brand_manufacturer }}
                <a
                  href="{{ link_to_product }}"
                  class="text-uppercase ps-1 pt-md-2 font-weight-bold"
                  target="_blank"
                  title="Go to {{ title }} website"
                  style="display: block"
                >
                  <i class="fa fa-external-link fa-lg me-2" aria-hidden="true"></i>
                  {{ title }}
                </a>
                {{ /relate:brand_manufacturer }} {{ if brand_manufacturer_2 }} {{ relate:brand_manufacturer_2 }}
                <a
                  href="{{ link_to_product_2 }}"
                  class="text-uppercase ps-1 pt-2 font-weight-bold"
                  target="_blank"
                  title="Go to {{ title }} website"
                >
                  <i class="fa fa-external-link fa-lg me-2" aria-hidden="true"></i>
                  {{ title }}
                </a>
                {{ /relate:brand_manufacturer_2 }} {{ /if }}
              </small>
            </div>
            {{ /if }}
          </div>
        </div>
        {{ /sub-product }}
      </div>
      {{ /if }}
    </div>
  </div>
</div>
