<header class="sticky-top site-header shadow">
  <div class="container-lg d-none d-lg-block pt-4 pb-3">
      <div class="d-flex">
        <div class="d-inline-flex me-auto">

          <a href="/" title="Go home" class="svg"> <object data="/assets/img/logo-roboto-black.svg"
              width="250" aria-label="Myers and Co logo"></object></a>
        </div>
        <div class="d-inline-flex ">
          <form class="me-3" action="{{ link to='search' }}">
            <div class="search">
              <div><input type="text" placeholder="Search site . . ." name="q" title="Search" /></div>
            </div>
          </form>

          <a class="d-inline-flex call mx-3 px-3" href="tel:{{ phone }}" title="Call Us"
            style="border-left:2px solid white; border-right:2px solid white;">
            <i class="fa fa-phone-square mt-2 me-3" aria-hidden="true"></i>{{ phone }}</a>
          <a href="mailto:{{ email }}" target="_self" class="mt-1 d-inline-flex" title="Email Us"><i class="fa fa-2x fa-envelope"
              style="font-size:35px" aria-hidden="true"></i></a>
        </div>
      </div>
      </div>
      <div class="container-fluid d-lg-none bg-drkblue text-center py-2 text-white cell-details">
        <a href="tel:{{ phone }}" class="text-decoration-none" title="Call Us">
          {{ phone }}</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="text-decoration-none"
          href="{{ office_directions_url }}" target="_blank" title="Get Directions">Office
          Directions</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a title="Email Us" class="text-decoration-none"
          href="mailto:{{ email }}">Email</a>
      </div>
  <div class="container-fluid site-header-mobile">
    <nav class="navbar navbar-expand-lg" role="navigation">
      <div class="d-flex justify-content-between justify-content-lg-start w-100mobile">
      <a class="navbar-brand d-lg-none svg" href="/" title="Go home">
        <object data="/assets/img/logo-roboto-black.svg" width="250" aria-label="Myers and Co logo"></object>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main-nav"
        aria-controls="main-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

      <div class="collapse navbar-collapse mt-2 mt-md-0" id="main-nav">
        <!-- navbar2 -->
        
        <div class="container-lg">
          <ul class="navbar-nav">
          <li class="nav-item mt-2 mt-md-0">
            <a class="nav-link{{ if ! segment_1 }} active {{/if}}" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle {{ if segment_1 == 'products'}} active {{/if}}"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Products 
            </a>
            <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/products">All Products</a></li>
                      <li><a class="dropdown-item" href="/products/fittings">Fittings <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                      <ul class="submenu dropdown-menu">
                       <li><a href="/products/fittings#instrumentation-tube-fittings" class="dropdown-item">Instrumentation Tube Fittings</a></li>
                       <li><a href="/products/fittings#industrial-tube-fittings" class="dropdown-item">Industrial Tube Fittings</a></li>
                       <li><a href="/products/fittings#instrumentation-pipe-fittings" class="dropdown-item">Instrumentation Pipe Fittings</a></li>
                       <li><a href="/products/fittings#industrial-pipe-fittings" class="dropdown-item">Industrial Pipe Fittings</a></li>
                       <li><a href="/products/fittings#instrumentation-weld-fittings" class="dropdown-item">Instrumentation Weld Fittings</a></li>
                       <li><a href="/products/fittings#industrial-weld-fittings" class="dropdown-item">Industrial Weld Fittings</a></li>
                      </ul>
                      </li>
                      <li><a href="/products/valves" class="dropdown-item">Valves <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                      <ul class="submenu dropdown-menu">
                        <li><a href="/products/valves#instrumentation-valves" class="dropdown-item">Instrumentation Valves</a></li>
                        <li><a href="/products/valves#process-ball-valves" class="dropdown-item">Process Ball Valves</a></li>
                        <li><a href="/products/valves#process-instrumentation-valves" class="dropdown-item">Process Instrumentation Valves</a></li>
                      </ul></li>
                      <li>
                        <a href="/products/temperature-pressure-instrumentation" class="dropdown-item">
                          Temperature and Pressure Instrumentation
                          <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        <ul class="submenu dropdown-menu">
                          <li><a href="/products/temperature-pressure-instrumentation#temperature" class="dropdown-item">Temperature</a></li>
                          <li><a href="/products/temperature-pressure-instrumentation#pressure" class="dropdown-item">Pressure</a></li>
                        </ul>
                      </li>
                      <li><a href="/products/calibration-equipment" class="dropdown-item">Calibration Equipment <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        <ul class="submenu dropdown-menu">
                          <li>
                            <a href="/products/calibration-equipment#quick-test-connection" class="dropdown-item">
                              Quick Test Connections
                            </a>
                          </li>
                          <li>
                            <a href="/products/calibration-equipment#quick-test-hoses" class="dropdown-item">
                              Quick Test Hoses
                            </a>
                          </li>
                          <li>
                            <a href="/products/calibration-equipment#gauges-and-callibrators" class="dropdown-item">
                              Gauges and Callibrators
                            </a>
                          </li>
                          <li>
                            <a href="/products/calibration-equipment#calibration-test-pumps" class="dropdown-item">
                              Calibration Test Pumps
                            </a>
                          </li>
                          <li>
                            <a href="/products/calibration-equipment#compressed-gas-control" class="dropdown-item">
                              Compressed Gas Control
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="/products/filters" class="dropdown-item">Filters <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        <ul class="submenu dropdown-menu">
                          <li>
                            <a href="/products/filters/#particulate-filters" class="dropdown-item">
                              Particulate Filters
                            </a>
                          </li>
                          <li>
                            <a href="/products/filters/#coalescing-filters" class="dropdown-item">
                              Coalescing Filters
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="/products/quick-connects" class="dropdown-item">Quick Connects</a></li>
                   
                    
                    <li><a href="/products/tubing" class="dropdown-item">Stainless Steel Tubing</a></li>
                    <li>
                      <a href="/products/hoses-flexible-tubing" class="dropdown-item">
                        Hose &amp; Flexible Tubing Products
                      </a>
                    </li>
                    <li><a href="/products/flow-instrumentation" class="dropdown-item">Flow Instrumentation</a></li>
                    <li><a href="/products/regulators" class="dropdown-item">Regulators
                      <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        <ul class="submenu dropdown-menu">
                          <li>
                            <a href="/products/regulators/#air-pressure-regulators-and-accessories" class="dropdown-item">
                              Air Pressure Regulators and Accessories
                            </a>
                          </li>
                          <li>
                            <a href="/products/regulators/#specialty-gas-regulators" class="dropdown-item">
                              Specialty Gas Regulators
                            </a>
                          </li>
                        </ul>
                    
                    </li>
                    <li>
                      <a href="/products/cylinders" class="dropdown-item">
                        Cylinders
                      </a>
                    </li>
                    <li>
                      <a href="/products/trays-supports-stands-clamps" class="dropdown-item">
                        Cable Tray &amp; Supports, Instrument Stands, and Clamps
                      </a>
                    </li>
                    <li>
                      <a href="/products/tools-and-accessories" class="dropdown-item">
                        Tools and Accessories
                      </a>
                    </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link {{ if segment_1 == 'manufacturers'}} active {{/if}}" href="/manufacturers">Manufacturers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ if segment_1 == 'services'}} active {{/if}}" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ if segment_1 == 'resources'}} active {{/if}}" href="/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ if segment_1 == 'about'}} active {{/if}}" href="/about">About</a>
          </li>
          <li class="nav-item mb-2 mb-md-0">
            <a class="nav-link {{ if segment_1 == 'contact'}} active {{/if}}" href="/contact">Contact</a>
          </li>
          
          <li class="search-link">
            <form class="d-lg-none" action="{{ link to='search' }}"> 
      <div class="search">
    <div>
      <input type="text" placeholder="Search site . . ." name="q">
    </div>
  </div></form>
          </li>
         
        </ul>
        <hr class="d-lg-none bg-white my-5"/>
        </div>
      </div>
    </nav>
    <script>

      </script>
  </div>
</header>


