@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body,
html {
  overflow-x: hidden;
}

.site-header a {
  color: #fff;
  transition: color 0.15s ease-in-out;
}

a.svg {
  position: relative;
  display: inline-block;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.site-header .nav-item .dropdown-menu a {
  color: #262626;
  white-space: normal;
  font-size: 1.2rem;
}


.site-header .nav-item .dropdown-menu a:hover {
  color: #d22229  ;
  background-color: transparent;
  text-shadow: none !important;
}

.navbar-toggler {
  min-height: 45px;
  border: solid 2px white;
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-toggler span.menutitle {
  color: white;
  font-size: 0.75rem;
}

.navbar-toggler:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px white;
  color:white;
}

.navbar-toggler:focus {
  border: solid 2px white;
  box-shadow: none;
  color:white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border:white;
}

.navbar-toggler:focus .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border:white;
}

.site-header a:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 2px rgb(0 0 0 / 40%);
}

.nav-link.active {
  text-decoration: underline;
}

.navbar-brand {
  /* padding-top: 0.3125rem; */
  /* padding-bottom: 0.3125rem; */
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  padding: 10px 0 0 !important;
}


/* ============ Nav desktop view ============ */
@media all and (min-width: 992px) {
  .navbar-expand-lg a:hover {
    background-color: rgba(89, 140, 228, 0.3);
    text-decoration: none;
  }

  .navbar-expand-lg .nav-link.active {
    background-color: #092257;
    text-decoration: none;
  }

  nav.navbar {
    font-size: 1.35rem;
    padding: 0px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .dropdown-menu li {
    position: relative;
    font-size: 1.25rem;
    line-height: 1.25;
  }

  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu>li:hover {
    background-color: #f1f1f1
  }

  .dropdown-menu>li:hover>.submenu {
    display: block;
  }

  .dropdown-menu {
    width: 370px;
    border-radius: 0;
    top: 94%;
    padding: 0;
    -ms-transform: rotate(-1deg);
    /* IE 9 */
    -webkit-box-shadow: 5px 4px 12px -1px rgba(0, 0, 0, 0.47);
    box-shadow: 5px 6px 12px -1px rgba(0, 0, 0, 0.47);
  }

  .dropdown-menu .dropdown-menu {
    width: 250px;
  }

  .dropdown-menu li a {
    white-space: normal;
  }

  .dropdown-item i {
    
  }

  .dropdown-item {
    border-bottom: 1px solid #ededed;
    padding: .6rem 1rem;
  }

  .dropdown-menu li:last-child {
    border-bottom: none;
  }
}

/* ============ desktop view .end// ============ */
/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: .5rem;
  }

  .navbar-nav {
    width: 100%;
  }
 .w-100mobile {
   width: 100%;
 }
  .navbar-collapse {
    align-items: start;
    height: 100vh;
    transition: transform 0.5s ease;
  }

  #main-nav {
    max-height: 200vh;
    padding-bottom: 150px;
    overflow-y: auto;
  }
  
}

/* ============ small devices .end// ============ */


body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #332e3c;
}

p {
  font-size: 1.2rem;
}

.credit {
  font-size: .65em;
}

.myers-shadow {
  text-shadow: 0 3px 3px rgb(0 0 0 / 75%);
}

.zoom-sm {
  transition: transform 0.5s ease;
}

.zoom-sm:hover {
  transform: scale(1.02);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.bg-distributor {
  background: rgb(77, 150, 252);
  background: linear-gradient(0deg, rgba(77, 150, 252, 1) 0%, rgba(71, 140, 233, 1) 100%);
}

.bg-distributor h1 {
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 3.25rem;
  color: white;
  text-shadow: 0 3px 3px rgb(0 0 0 / 75%);
}

@media (min-width: 768px) {
  main {
    background-image: url(/assets/footer-design-element.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 500px;
  }
  .bg-distributor h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .bg-distributor {
    background-image: url(/assets/img/speciality-distributor3.jpg), linear-gradient(0deg, rgb(77, 150, 252) 0%, rgba(71, 140, 233, 1) 100%);
    background-blend-mode: multiply, normal;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.bg-product,
.bg-distributor {
  background-color: #4d96fc;
  text-decoration: none;
}

.bg-product:hover {
  background-color: #16328d;
}

/* h1,
h2 {
  color: #092257;
} */
.site-header-mobile {
  background-color: rgb(22, 50, 141) !important;
}
.bg-dark {
  background-color: rgb(22, 50, 141) !important;
  /* background-color: #092257 !important; */
}

html {
  scroll-padding-top: 200px;
  /* height of sticky header */
}

/*** Nav ***/
.cell-details,
.cell-details a {
  font-size: 0.92em;
}

/*** Home ***/
/* .row-bg-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */
.home-bgimage {
  background-image: url(/assets/img/hero-bg.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  color: white;
  /* background-color: #92b81e; */
}

.section-home .home-bgimage {
  margin: 0px;
}

.ontop {
  position: relative;
  z-index: 999;
}

.break-out {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

.slider .slider-item:hover h3 {
  color: #16328d;
}

.home-bgimage h1 {
  margin-top: 30px;
  font-size: 3rem;
  line-height: 3.25rem;
  color: white;
  text-shadow: 0 3px 3px rgb(0 0 0 / 75%);
}

.section-home section {
  margin: 3rem auto;
}
.home-bgimage h2 {
font-size: 1.5rem;
    line-height: 1.3;
}

@media (min-width: 768px) {
  .home-bgimage h1 {
    margin-top: 110px;
    font-size: 4rem;
    line-height: 4rem;
  }

  .section-home section {
    margin: 7rem auto;
  }
  .home-bgimage h2 {
    font-size: 2rem;
    line-height:1.5;
  }
}



.link {
  background-color: #092257;
  color: white;
  text-align: center;
  padding: 15px 15px;
  /* margin: 0 1rem; */
  font-weight: bold;
  font-size: 2rem;
}

.link:hover {
  background: rgb(95, 155, 214);
  background: radial-gradient(circle, rgba(95, 155, 214, 1) 13%, rgba(35, 86, 158, 1) 100%);
  /* background-color: #23569e; */
  color: #fff;
}

.slider h3 {
  text-align: center;
  color: black;
  text-align: center;
  margin: 20px auto;
}

/** Services **/
.service_list h2 {
  margin-top: 3.0rem;
  margin-bottom: 1rem;
  font-size: 28px;
  color:#f40d16;
  /* color: #CE322B; */
}

/** Manufacturing **/
.manufacturer-product a {
  color: #000;
}

.zoom {
  transition: transform 0.5s ease;
}

.zoom:hover {
  transform: scale(1.05);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media (min-width: 992px) {
  .bg-industry {
    background-image: url("/assets/img/industry-bg-lgt.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 75%;
  }
}

/** New Search **/
.search-link {
  margin-top: 3%;
}

@media (min-width: 992px) {
  .search-link {
    margin-top: 0px;
  }
}

.search {
  /* margin: 20px; */
}

.search>h3 {
  font-weight: normal;
}

.search>h1,
.search>h3 {
  color: white;
  margin-bottom: 15px;
}

.search>div {
  display: inline-block;
  position: relative;
}

.search>div:after {
  content: "";
  background: white;
  width: 4px;
  height: 18px;
  position: absolute;
  top: 23px;
  right: -4px;
  transform: rotate(135deg);
}

.search>div>input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 35px;
  height: 35px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search>div>input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search>div>input:focus::placeholder {
  opacity: 1;
}

.search>div>input:focus,
.search>div>input:not(:placeholder-shown) {
  width: 250px;
  background: rgba(255, 255, 255, 0.2);
}

/***/
.call {
  margin-top: -5px;
  text-align: center;
  /* margin-left: 5px; */
  font-size: 35px;
  font-size: 35px;
  text-decoration: none;
  display: block;
}

/*** Animated Hamburger Icon ***/
/* Icon 2*/
.animated-icon2 {
  width: 30px;
  height: 20px;
  margin: 5px auto;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  background-color: white;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

footer a,
footer,
footer h5,
.link-secondary {
  color: #6d6d6d;
  text-decoration: none;
}

footer .myers-info,
footer .myers-info a {
  color: #262626  ;
}

footer ul.list-unstyled li {
  margin: 0 0 5%;
  line-height: 1.1;
}

.designer:hover {
  text-decoration: underline;
}

a {
  color: #16328d;
  text-decoration: underline;
}

a:hover {
  color: #f40d16;
  text-decoration: underline;
}

/*
 * Custom CSS
 */

.myersred {
  color: #f40d16;
}

.bg-myersred {
  background-color: #f40d16;
}

.history-photo {
  width: 75%;
  margin: 0 auto;
}
.serviceimg {
  display:none;
}
@media (min-width: 992px) {

  /** Services **/
  .serviceimg {
    position: relative;
    width: 600px;
    float: right;
    margin: 0 -330px 20px 20px;
   }

  /*** About ***/
  .history-photo {
    float: left;
    width: 60%;
    margin: 0 3% 0 -10%;
    /* transform: rotate(-1deg); */
  }

  .shadow-md {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important
  }
}
.bg-white {
  background-color:#ffffff;
}
/*
 * Contact Page 
 * 
 * */
form label {
  font-weight: bold;
}

/*
 * From Bootstrap Product Page 
 * 
 * */
.container {
  max-width: 960px;
}

.img-product {
  height: 240px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.catalog {
  transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  /* IE 9 */
  -webkit-box-shadow: 5px 4px 12px -1px rgba(0, 0, 0, 0.47);
  box-shadow: 5px 4px 12px -1px rgba(0, 0, 0, 0.47);
}

.catalog-text {
  line-height: 1.1;
  text-align: left;
}

.site-header {
  font-family: "Roboto", sans-serif;
  background: rgb(244, 13, 22);
  background: linear-gradient(67deg, rgba(244, 13, 22, 1) 21%, rgba(189, 2, 15, 1) 100%);
  /* background: rgb(244, 13, 22);
  background: radial-gradient(circle, rgba(244, 13, 22, 1) 0%, rgba(212, 8, 16, 1) 60%, rgba(189, 2, 9, 1) 100%); */
  /* background: rgb(244, 13, 22); */
}

/*
 * Custom translucent site header
 */


.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.flex-equal>* {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    flex: 1;
  }
}

/*
 * From Redwood Default
 */

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.hero {
  padding-bottom: 64px;
  position: relative;
  margin-top: -21px;
}

.hero .hero-background {
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  position: relative;
}

.hero .hero-background .overlay {
  height: 700px;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.hero header,
.hero article {
  padding: 64px 16px;
  max-width: 732px;
  margin: 0 auto;
  z-index: 2;
}

.hero header {
  color: #fff;
  position: relative;
  text-align: center;
}

.hero header h1 {
  margin-top: 200px;
}

.hero header h2 {
  /* font-family: "Lora", serif; */
  font-style: italic;
  -webkit-font-smoothing: antialiased;
}

.hero .meta {
  position: absolute;
  width: 700px;
  left: 50%;
  margin: 0 0 0 -350px;
  bottom: 32px;
  z-index: 5;
  text-align: center;
}

.hero .meta .avatar,
.hero .meta .name,
.hero .meta .length,
.hero .meta .date {
  display: block;
  text-align: center;
}

.hero .meta .name {
  color: #fff;
  margin: 5px 0;
  /* font-family: "Lora", serif; */
  font-style: italic;
  font-size: 18px;
  text-transform: normal;
  -webkit-font-smoothing: antialiased;
}

.hero .meta img {
  display: inline-block;
}

.hero .meta .date {
  color: #fff;
  margin-top: 10px;
  -webkit-font-smoothing: antialiased;
}

section header .meta .author {
  float: left;
}

section header .meta img {
  float: left;
  margin-right: 12px;
}

section header .meta a {
  display: block;
}

section header .meta .date {
  margin-top: 8px;
  float: right;
}

footer.article-footer {
  background: #fafafa;
  padding: 32px 0;
}

.block .meta {
  margin: 5px 0 0;
}

footer.page {
  background: #fff;
  padding: 64px 0;
  text-align: center;
}

footer.page p.copyright {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 14px;
}

.section-things {
  background: #f2f2f2;
}

.section-things section header {
  padding: 64px 0 32px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  z-index: 2;
}

input.giant {
  /* font-family: "Lato", sans-serif; */
  font-size: 60px;
  font-weight: 300;
  color: #3c3c3c;
  box-shadow: none;
  border: none;
  border-radius: 0;
  height: 96px;
  margin-bottom: 32px;
  margin-left: -5px;
  padding: 0px;
  letter-spacing: -0.03em;
  outline: none;
}

input.giant:focus,
input.giant:active {
  outline: none;
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Lato", sans-serif; */
  font-weight: 900;
  margin: 0 0 32px -1px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5, .h5 {
  font-weight: 700;
}

h6 {
  font-size: 12px;
  text-transform: uppercase;
}

h6 em {
  color: #b8b8b8;
  font-style: normal;
}

@media all and (max-width: 732px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 18px;
  }

  .slider h3 {
    font-size: 18px;
  }
  .site-header-mobile {
    /* background: linear-gradient(67deg, #f40d16 21%, #bd020f 120px); */
    /* background: rgb(244,13,22); */
  background: linear-gradient(180deg, rgba(244,13,22,1) 30px, rgba(189,2,15,1) 70px, rgba(22,50,141,1) 70px);
  }
}

.special {
  /* font-family: "Lato", sans-serif; */
  margin-bottom: 64px;
}

.special small {
  display: block;
  /* font-family: "Lato", sans-serif; */
  color: #b8b8b8;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

section header h1 {
  line-height: 1;
  margin-bottom: 32px;
}

section header h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 64px;
}

@media all and (max-width: 772px) {
  section header h2 {
    font-size: 28px;
  }

}

article.content p {
  /* font-family: "Lora", serif; */
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 32px;
}

article.content p>a {
  color: #3c3c3c;
  text-decoration: none;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  position: relative;
  white-space: nowrap;
}

article.content p>a:after {
  display: block;
  position: absolute;
  width: 100%;
  border-top: 1px solid #000;
  content: "";
  bottom: 0.1em;
  left: 0;
  z-index: -1;
}

article.content blockquote {
  border: none;
  padding: 0;
  margin: 0;
  margin: 0 0 96px;
  text-align: center;
  padding-top: 64px;
  position: relative;
}

article.content blockquote p {
  font-size: 28px;
  font-style: italic;
  line-height: 1.5;
  margin: 0;
}

article.content blockquote:before {
  content: "";
  width: 80px;
  height: 6px;
  background: #ddd;
  top: 32px;
  left: 50%;
  position: absolute;
  margin-left: -40px;
}

article.content ul,
article.content ol {
  margin-bottom: 32px;
}

article.content li {
  margin-bottom: 16px;
}

article.content li:last-child {
  margin-bottom: 0;
}

article.content img {
  margin-top: 10px;
  max-width: 100%;
  text-align: center;
}

article.content img.yank-left {
  max-width: 30%;
  float: left;
  margin-left: -15%;
  margin-right: 32px;
}

article.content img.yank-right {
  max-width: 30%;
  float: right;
  margin-right: -15%;
  margin-left: 32px;
}

article.content img.oversized {
  margin: 0 -15% 0 -15%;
  max-width: 130%;
}

article.content p.caption {
  /* font-family: "Lora", serif; */
  font-style: italic;
  font-size: 14px;
  text-align: center;
  padding-top: 3px;
}

article.content iframe {
  margin-bottom: 32px;
}

.shalegas {
  margin-top: 40px;
}

.shalegas a {
  text-decoration: none;
}

.shalegasimg {
  margin-left: -10%;
}

.block {
  margin-top: 40px;
}

.block h3 {
  /* font-family: "Lato", sans-serif; */
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 5px;
  line-height: 1.3;
}

.block p,
.block ul,
.block ol,
.block dl {
  font-size: 1.1rem;
}

.block p.h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

/* .block p,
.block ul {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  margin: 0;
} */
.block p.small {
  font-size: 0.85em;
}

.block a {
  color: #3c3c3c;
}

.block a:hover,
.block a:focus {
  text-decoration: none;
  color: #16328d;
}

.block a.btn-light:hover {
  background-color: #16328d;
  color: #ffffff;
}

.block img {
  max-width: 100%;
}

.block img.small-image {
  border: 1px solid rgba(0, 0, 0, 0.05);
  float: right;
  margin: 3px 0 0 32px;
}

.block img.large-image {
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
}

code {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 16px;
}

.centered {
  text-align: center;
}

img[data-action="zoom"] {
  cursor: pointer;
  cursor: -moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  transition: all 300ms;
}

img.zoom-img {
  cursor: pointer;
  cursor: -moz-zoom-out;
}

.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  transition: opacity 300ms;
}

.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}

.btn-blue {
  background-color: #092257;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.btn-blue:hover {
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 2px;
  background-color: #16328d;
  -webkit-box-shadow: 5px 4px 12px -1px rgba(0, 0, 0, 0.47);
  box-shadow: 5px 4px 12px -1px rgba(0, 0, 0, 0.47);
}

.text-red {
  color: #f40d16;
}

.text-red a {
  color: #f40d16;
}

.text-red a:hover {
  color: #d22229;
  text-decoration: underline;
}

.text-blue {
  color: #23569e;
}

.text-drkblue {
  color: #16328d;
}

.bg-drkblue {
  /* background-color: #092257; */
  background-color: #092257;
}

.bg-blue {
  background-color: rgb(22, 49, 141);
}

.breadcrumb a {
  font-size: 15px;
  color: #262626;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb .active a {
  text-decoration: underline;
}

/*** Medium Responsive Bootstrap Borders **/
@media (min-width: 768px) {
  .border-md-top {
    border-top: 1px solid #e3e7eb !important;
  }

  .border-md-right {
    border-right: 1px solid #e3e7eb !important;
  }

  .border-md-bottom {
    border-bottom: 1px solid #e3e7eb !important;
  }

  .border-md-left {
    border-left: 1px solid #e3e7eb !important;
  }

  .border-md-top-0 {
    border-top: 0 !important;
  }

  .border-md-right-0 {
    border-right: 0 !important;
  }

  .border-md-bottom-0 {
    border-bottom: 0 !important;
  }

  .border-md-left-0 {
    border-left: 0 !important;
  }

  .border-md-x {
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }

  .border-md-y {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
  }

  .border-md {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }

  .border-md-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
}

.singleresource-tn {
  text-decoration: none;
  text-align: center !important;
  color: rgba(0, 0, 0, 0.47);
  line-height: 1.5rem;
}

.singleresource-tn img {
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 3px 20px 0 rgb(0 0 0 / 19%);
}

.resource-tn {
  text-decoration: none;
  text-align: center !important;
  color: rgba(0, 0, 0, 0.47);
  line-height: 1.5rem;
}

.resource-tn:hover,
.singleresource-tn {
  text-decoration: none !important;
}

.resource-tn:hover img {
  transform: rotate(2deg);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 3px 20px 0 rgb(0 0 0 / 19%);
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;

}


/** Remove horizontal scroll bar **/
/* body, html {
  overflow-x: hidden;
} */
/*# sourceMappingURL=redwood.css.map */
/** Back to Top*/
#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 0px;
  /* Place the button at the bottom of the page */
  right: 10px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #092257;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 10px 20px;
  /* Some padding */
  border-radius: 10px 10px 0 0;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  font-weight: 700;
}

#myBtn:hover {
  background-color: #332e3c;
  /* Add a dark-grey background on hover */
}