<section class="container py-4 py-md-5">
  <h1>{{ about }}</h1>
  <hr />
  <div class="row">
    <div class="col-12 col-md-9">
      <p>{{ about_description }}</p>
      <p class="text-center"><img src="/assets/img/historical-myers-photo2.png" alt="{{alt}}" class="history-photo" /><p>
      {{ history_description }}
    </div>
    <div class="col-12 col-md-3 mt-md-4">
      <h3 class="mb-1 text-red">Industries Served</h3>
      <ul>
        <li>Chemical</li>
        <li>Steel</li>
        <li>Natural Gas</li>
        <li>Hydraulic</li>
        <li>Analytical</li>
      </ul>
      <h3 class="mt-4 mb-1 text-red">States Served</h3>
      <ul>
        <li>Pennsylvania</li>
        <li>Ohio</li>
        <li>West Virginia</li>
        <li>Maryland</li>
      </ul>
    </div>
  </div>
</section>
