<section class="container py-4 py-md-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {{ nav:breadcrumbs }}
      <li class="{{ if is_current }}active{{ /if }} breadcrumb-item">
        <a href="{{ url }}">{{ title }}</a>
      </li>
      {{ /nav:breadcrumbs }}
    </ol>
  </nav>

  <header>
    <h1>{{ title }}</h1>
  </header>
  <article class="list">
    {{ collection:product-listings taxonomy="true" as="posts" }} {{ if no_results }}
    <p>No "{{ title }}" products.</p>
    {{ /if }} {{ posts scope="categories" }} {{ partial:listing-block }} 
    {{ info_under_product_listing }}{{ title }}{{ /info_under_product_listing }}
    {{ /posts }} {{ partial:pagination }} {{
    /collection:product-listings }}
  </article>
</section>
