<section class="container py-4 py-md-5">
  <header>
    <h1>Get in Touch</h1>
  </header>

  <div class="row">
    <div class="col-12">
    <h2 class="h3 mb-3">Experience our Commitment to Quality and Integrity</h2>
    </div>
    <div class="col-md-6">
    <h2 class="mt-3 mb-0 text-red">Myers & Co.</h2>
    <p class="mb-4"><a href="https://www.tri-statemachine.com/" title="Go to Tri-State website" target="_blank" style="color:#332e3c;">A Tri-State Machine Company</a></p>
    <p class="mb-4">
      <strong>Hours of Operation:</strong><br/>
      Monday - Friday, 8am to 5pm
    </p>
    <p>
      <i class="fa fa-phone-square me-2" aria-hidden="true"></i>
      Call <a href="tel:{{phone}}">{{ phone }}</a> or <a href="tel:{{local_phone}}">{{ local_phone }}</a>
    </p>
    
    <p>
      <i class="fa fa-fax me-2" aria-hidden="true"></i>
      Fax: {{ fax }}
    </p>
    <p>
      <i class="fa fa-envelope me-2" aria-hidden="true"></i>
      Email: <a href="mailto:{{ email }}">{{ email }}</a>
    </p>
  </div>
    <div class="col-md-6 text-center my-3 mt-md-5">
      <img src="/assets/img/myers-service-map.png" alt="{{ alt }}" width="376" height="248" />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-3">
      <p><strong>Office / Stocking</strong></p>
      {{ office_location }}
      <p><a href="{{ office_directions_url }}" target="_blank">Directions / Map</a></p>
    </div>
    <div class="col-md-3">
      <p><strong>Stocking</strong></p>
      {{ stocking_location }}
      <p><a href="{{ stocking_directions_url }}" target="_blank">Directions / Map</a></p>
    </div>
  </div>
    
  </div>
</section>

<section class="pb-5">
  <div class="container border-top">
    
   <h2 class="pt-5 h2 mb-3 text-drkblue">Send Us A Message</h2>
   <p>Fill in the form below to get in touch or request more information about our services from our sales and training specialists. Please let us know what information we can provide to help you accomplish your business goals, and one of our team members will follow up with you within three business days to continue the conversation.
{{ partial:contact-form }}
</div>
</section>