<section class="container-fluid home-bgimage" style="padding: 0px !important">
  <div class="container-lg mx-auto text-left">
    <div class="row mx-auto">
      <div class="col-12 col-md-8">
        <h1 class="text-uppercase">Specialty Distributor</h1>
        <h2>
          Myers &amp; Co. is your go-to resource for instrumentation, process valves, tube fittings, gauges and
          regulators in Pennsylvania, Ohio, West Virginia and Maryland.
        </h2>
      </div>
    </div>
    <div class="row mt-md-5">
      <div class="col-11 col-md-8 col-xl-6 mt-3 ms-4 ms-md-0">
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="/site/themes/redwood/js/slick.min.js"></script>
        <div class="slider">
          {{ taxonomy:categories show="all" sort="displayorder" sort_dir="asc" }}
          <a href="{{ url }}" class="text-decoration-none zoom-sm" title="Explore {{ title }}">
            <div class="slider-item px-2">{{ home_slider }}
            <img
              src="{{ value }}"
              class="img-fluid shadow mx-auto"
              alt="{{ alt }}"
            />{{ /home_slider }}
            <h3>{{ title }} </h3>
          </div> </a>
          {{ /taxonomy:categories }} 
        </div>
        <script>
          $(".slider").slick({
            infinite: true,
            slidesToShow: 2,
            slidesToScroll: 1,
            autoplay: true,
            speed: 600,
          });
        </script>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-lg mt-md-5 text-center">
    <div class="row">
      <h2 class="mb-3">{{ heading }}</h2>
      <p>
       {{ description }}
      </p>
    </div>
    <div class="row mt-3">
      <div class="col-md-4"><a href="/products" class="text-decoration-none" title="Explore Products"><div class="link">Explore Products</div></a></div>
      <div class="col-md-4 my-3 my-md-0"><a href="/contact" class="text-decoration-none" title="Contact Sales Rep"><div class="link">Contact Sales Rep</div></a></div>
      <div class="col-md-4"><a href="/services" class="text-decoration-none" title="Explore Services"><div class="link">Explore Services</div></a></div>
    </div>

    <!-- <div class="row mt-3">
      <div class="col-md-6"><a href="/products" class="text-decoration-none" title="Explore Products"><img src="/assets/myers-and-co-product-selection-guide.jpg" alt={{ alt }}"/></a></div>
      <div class="col-md-6 my-3 my-md-0"><a href="/contact" class="text-decoration-none" title="Contact Sales Rep"><div class="link">Contact Sales Rep</div></a></div>
      
    </div> -->

  </div>
</section>

<section>
  <div class="container-lg">
    <div class="row bg-light px-2 p-md-5 pb-5 shadow">
      <div class="col-12 col-md-8 p-3">
        <h2 class="md-h3">High-quality, Cost-effective,<br/> Specialty Products</h2>
        <p>
         {{ call_out_description }}
        </p>
      </div>
      <div class="col-6 col-md-2">
        <img src="/assets/img/member-of-isa.png" class="img-fluid" alt="{{alt}}" height="{{ height }}" width="{{ width }}" />
      </div>
      <div class="col-6 col-md-2">
        <img src="/assets/img/isnetworld-membor-vendor.png" class="img-fluid" alt="{{alt}}" height="{{ height }}" width="{{ width }}" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-lg">
    <div class="row px-2 p-md-5 p-lg-0">
      <div class="col-lg-7 d-flex justify-content-end shalegasimg">
        <div>
        <img src="/assets/img/shale-gas-instrumentation-supplier.png" class="img-fluid d-block" width="641" height="{{ height }}" alt="{{ alt }}" /></div>
      </div>
      <div class="col-lg-5">
        <div class="shalegas">
          <h2 class="text-red">Shale Gas Instrumentation and Automation Supplier</h2>
          <p>
            Located in the heart of the Marcellus and Utica shale fields, we're an experienced provider of quality
            products and services that meet all of your well-site automation and gas measurement needs.
          </p>
          <p class="inline-block text-uppercase text-red me-5 mt-3 text-md-center"><a href="/products">// Products</a></p>
          <p class="inline-block text-uppercase text-red me-5 mt-3">
            <a href="/services">// Services</a></p>
            <p class="inline-block text-uppercase text-red mt-3">
            <a href="/assets/catalogs/myers-and-co-shale-gas-brochure.pdf" target="_blank" title="Read brochure">// Capabilities (PDF)</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-lg my-0 py-5">
  <div class="container-lg mb-2 mb-md-5 pb-5">
    <h2 class="text-center">Our Trusted Manufacturers</h2>

    <div class="row row-cols-lg-4 row-cols-sm-3 row-cols-2">
      {{ collection:manufacturers }}

      <div class="col">
        <a href="{{ url }}" target="_blank">
          {{ assets:image }}
          <img src="{{ url }}" class="img-fluid p-3" alt="{{ alt }}" height="{{ height }}" width="{{ width }}" />
          {{ /assets:image }}
        </a>
      </div>
      {{ /collection:manufacturers }}
    </div>
  </div>
</section>
