<section class="container py-4 py-md-5">
  <h1>{{ title }}</h1>
  <p>{{ content }}</p>
</section>
<div class="container-lg pb-5 px-md-5 mb-md-5">
  <h3 class="text-md-center">Learn more about our trusted partners</h3>
  <div class="row row-cols-lg-4 row-cols-sm-3 row-cols-2">
    {{ collection:manufacturers }}

    <div class="col">
      <a href="{{ url }}" target="_parent" title="Learn More about {{title}}">
        {{ assets:image }}
        <img src="{{ url }}" class="zoom img-fluid p-3" alt="{{ alt }}" height="{{ height }}" width="{{ width }}" />
        {{ /assets:image }}
      </a>
    </div>
    {{ /collection:manufacturers }}
  </div>
</div>
