<section class="bg-industry break-out">
  <div class="container py-4 py-md-5 ontop">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {{ nav:breadcrumbs }}
        <li class="{{ if is_current }}active{{ /if }} breadcrumb-item">
          <a href="{{ url }}">{{ title }}</a>
        </li>
        {{ /nav:breadcrumbs }}
      </ol>
    </nav>

    <!-- <header class="mt-5">
    <h1>About {{ title }}</h1>
    {{ content }}
  </header> -->

    <div class="d-md-flex my-md-5">
      <h1 class="h1 text-md-center me-auto">Our Manufacturing Partners</h1>
      <div class="ms-1 d-md-flex text-center align-items-center my-3 my-md-0">
        {{ collection:previous in="manufacturers" as="posts" limit="1" wrap="true" }} {{ posts }}
        <a href="{{ url }}" class="text-decoration-none">
          <button type="button" class="btn btn-blue me-3 me-md-2">
            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            PREV
          </button>
        </a>
        {{ /posts }}{{ /collection:previous }} {{ collection:next in="manufacturers" as="posts" limit="1" wrap="true"}} {{ posts }}
        <a href="{{ url }}" class="text-decoration-none">
          <button type="button" class="btn btn-blue">
            NEXT
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
          </button>
        </a>
        {{ /posts }}{{ /collection:next }}
      </div>
    </div>

    <div class="row mt-3 mb-5">
      <div class="col">
        <!-- <div class="float-end">
        {{ assets:badge }}
        <img src="{{ url }}" class="img-fluid p-3" alt="{{ alt }}" />
        {{ /assets:badge }}
      </div>
      {{ short_description }} {{ long_description }}{{ region }} -->
        <!-- {{ if long_description }}{{ long_description}} {{ elseif}} {{ short_description }}{{endif}} -->

        <div class="bg-white px-3 px-md-5 pb-5 text-md-center shadow">
          {{ assets:image }}
          <a href="{{ brand_website }}" title="To external website" target="_blank">
            <img src="{{ url }}" class="zoom p-3 img-fluid" alt="{{ alt }}" width="500" />
          </a>
          {{ /assets:image }}
          <h1 class="h3" style="margin-top: -30px; z-index:99; position:relative;">
            {{ title}} products and services are supported by Myers & Co. in Pennsylvania, Ohio, West Virginia and
            Maryland.
          </h1>
          <hr class="my-5" />
          <h4 class="mb-2">About {{ title }}</h4>
          <div class="">{{ short_description }}</div>
          <a href="{{ brand_website }}" target="_blank">
            <button type="button" class="btn btn-secondary mt-4">Go to this manufacturer's website</button>
          </a>
          <hr class="my-5" />
          <h3 class="text-red mb-1">
            Call our knowledgable Sales Team at
            <a href="tel:{{phone}}">{{ phone }}</a>.
          </h3>
          <p>We'll help you find the right product!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid bg-drkblue break-out py-5 text-center" style="margin-top: -200px">
  <div class="container pb-5 mb-5">
    <div class="row d-flex" style="margin-top: 120px">
      
      
      {{ collection:product-listings as="posts" taxonomy:tags="{ short_tag }" }} 
      {{ if posts > 0}}<h3 class="text-white">We carry products by {{ title }} in these product categories</h3>
      {{ /if }}
      <!-- {{ if slug != "tri-state-machine"}} -->
      
      <!-- <h3 class="text-white">We carry products by {{ title }} in these product categories</h3>
      {{ /if}} -->
      {{ posts scope="post"}}
      <div class="col-md-4 my-3 text-center manufacturer-product d-flex">
        <div class="shadow bg-white p-3 zoom w-100">
          <a href="{{ url }}" class="text-decoration-none">
            {{ assets:image }}
            <div class="d-flex align-items-center">
              <img src="{{ url }}" style="height: 200px; max-height:200px;"  class="img-fluid p-3 mx-auto" alt="{{ alt }}" height="{{ height }}" width="{{ width }}" />
            </div>
            {{ /assets:image }} 
            {{ title }}
          </a>
        </div>
      </div>
      {{ /posts }} {{ /collection:product-listings }}
    </div>
  </div>
</section>
