<section class="container-lg py-5">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			{{ nav:breadcrumbs }}
			<li class="{{ if is_current }}active{{ /if }} breadcrumb-item">
				<a href="{{ url }}">{{ title }}</a>
			</li>
			{{ /nav:breadcrumbs }}
		</ol>
	</nav>

	<header>
		<h1>{{ title }}</h1>
		
	</header>

	<article class="content">
		<div class="row">
		<div class="col-4">
			{{ if image }}{{ assets:image }}
		<img src="{{ url }}" class="img-fluid p-3" height="{{ height }}" width="{{ width }}" alt="{{ alt }}" />
		{{ /assets:image }}{{ else }}<img src="https://via.placeholder.com/300" />  {{ /if }}</div>
	
	<div class="col-8">{{ product_description }}</div>
	
	</div>
	
	
	
	
	<div class="row bg-myersred my-3 py-3 text-white text-center">
		<h2>Have a question? Ready to Purchase?</h2>
		<p>Please get ahold of your sales rep, or give us a call at <a href="tel:{{ phone }}">{{ phone }}</a>. We look forward to working with you.</p>
	</div>
	<a href="{{ link_to_product }}" target="_blank"><div class="row align-items-center border-top border-bottom my-3">
		<div class="col-4 ">{{ relate:brand_manufacturer }}{{ assets:image }}
		<img src="{{ url }}" class="img-fluid" alt="{{ alt }}" />
		{{ /assets:image }}{{ /relate:brand_manufacturer }}</div>
	
	<div class="col-8">Learn more about this product on manufacturer's website</div>
	</div></a>
	
	
	</article>

</section>
