<section class="container-lg mt-md-3 py-md-5 mt-md-0">
	<div class="bg-distributor position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center text-white">
    <div class="col-lg-7 p-lg-5 mx-auto my-5">
      <h1 class="myers-shadow text-uppercase text-center">Specialty Distributor</h1>
      <p class="lead fw-normal">Myers &amp; Co's knowledgable sales force is your go-to resource for instrumentation, process valves, tube fittings, gauges and regulators in Pennsylvania, Ohio, West Virginia and Maryland.</p>
      <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
    </div>
    <!-- <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
  </div>
  
  
  
  
    <div class="row-flex d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      
		{{ taxonomy:categories show="all" sort="displayorder" sort_dir="asc" }}
       <!-- Need to sort by short_tag -->
       <a href="{{ url }}" class="text-decoration-none " title="Explore {{title}}">
       {{ product_section }}
         <div class="h-100 my-3 zoom-sm bg-product me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="background-image:url({{ value }}); background-blend-mode: multiply; background-size:cover; background-repeat:no-repeat; min-height:175px;">{{ /product_section }}
			
				<h2 class="myers-shadow mb-0 pb-0 py-4 py-md-0">{{ title }}</h2>
        </div>
      </a>
		{{ if index % 2 == 0 && index > 0 && index != total_results }} 
</div>
		<div class="d-md-flex flex-md-equal w-100 mp-md-3 ps-md-3 py-2">
			{{ endif }}
		{{ /taxonomy:categories }}                    

	</div></a>
 </div>
  </section>