<section class="container py-4 py-md-5">
  <div class="row mb-3">
  <h1>{{ title }}</h1>
  <hr />
      <p>{{ description }}</p>
  </div>
      <div class="row">
      {{ collection from="resources" }}
      <div class="col-md-4">
        <div class="p-3 text-center">
          {{ catalog_pdf }}
          <a href="{{ value }}" target="_blank" title="View resource" class="singleresource-tn center">
      {{ image }}
      <picture>
        <source srcset="{{ glide:value format='webp' width='{ width }' height='342' quality='100' }}" height="342" alt="{{ alt }}" />
        <img src="{{ glide:value height='342' width='{ width }' format='jpg' quality='100' }}" height="342" class="img-fluid mb-4 zoom-sm" alt="{{ alt }}" loading="lazy"/>
      </picture>
      {{ /image }}
      <p>{{ title}}</p>{{ /catalog_pdf }}</a></div>
      </div>

{{ /collection }}
</div>
</section>
