<div class="container my-5">
  <section>
    <header>
      <h6>Search Results for</h6>
      <form role="search" action="/search">
        <input type="text" name="q" class="form-control giant search" value="{{ get:q }}" placeholder="Search" />
      </form>
    </header>
    <article class="content">
    
      
      

      {{ search:results }}
      
      <div class="block">
        {{ if no_results }}
         <p>No results found for {{ get:q }}.</p> 
        {{ elseif collection=="resources" || collection=="catalogs" }}
         {{ catalog_pdf }}  <a href="{{value}}" class="text-decoration-none"> {{ /catalog_pdf }} 
          <h3 class="text-decoration-underline d-inline text-drkblue">{{ title }}</h3>
          <p class="font-italic ms-3 d-inline">({{ collection | deslugify | singular }})</p></a>
        {{ else }}
        <a href="{{ url }}" class="text-decoration-none">
          <h3 class="text-decoration-underline d-inline text-drkblue">{{ title }}</h3>
          <p class="font-italic ms-3 d-inline">(page)</p> 
          <p class="mb-1">{{ content strip_tags="img|a|p" safe_truncate="250|..." }}{{ overview }}{{ product_description }}{{ short_description }}</p>
        </a>
          {{/if}}
     
    </div>
      {{ /search:results }}
      

      
      
      
      
       
    </article>
  </section>
</div>
