<section class="container py-5">
  <div class="row mb-3">
  <h1>{{ title }}</h1>
  
  <hr />
  
  <div class="service_list">
    <img src="/assets/services-image-final.png" alt="{{ alt }}" class="serviceimg float-right d-lg-block">
     {{ service_details }}
  </div>

  <div class="row">
    {{ partial:contact-form }}
  </div>
</section>
